.galleryH2 {
    text-align: center;
    margin: 0.5rem;
    padding: 0.5rem;
    /* font-size: 2.5em; */
    color: #333;
}

.photo-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1200px; /* Set a max-width for the gallery */
    margin: 0 auto; /* Center the gallery horizontally */
    margin-bottom: 1rem; /* Add some space at the bottom */
    padding: 10px; /* Add padding to ensure it doesn't touch the screen edges */
}
.photo-item {
    position: relative;
    width: 90%; /* Adjust width as needed */
    margin: auto;
    overflow: hidden;
}

.photo-item::before {
    content: "";
    display: block;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.photo-item img, .photo-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures images cover the area, maintaining aspect ratio */
}

.photo-item img {
    cursor: pointer;
    /* transition: transform 0.5s ease; Uncomment if you want a zoom effect on hover; */
}

.photo-info {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.photo-item:hover .photo-info {
    opacity: 1;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

/* .photo-viewer {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.photo-viewer .close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.photo-viewer .viewer-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.photo-viewer .viewer-caption {
    text-align: center;
    color: white;
    padding: 10px 20px;
    position: absolute;
    bottom: 15px;
    width: 100%;
} */

/* Media query for tablets */
@media (max-width: 768px) {
    .photo-gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px; /* Ensure padding for smaller screens as well */
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .photo-gallery {
        grid-template-columns: 1fr;
        padding: 10px; /* Ensure padding for smaller screens as well */
    }
}

/* Footer */

.footerGallery {
    background-color: #333;
    color: #fff;
    /* position: relative; */
    left: 0;
    bottom: 0;
    /* width: 100%; */
    text-align: center;
    padding: 20px;
}


/* Unused */

/* .footerGallery {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    border: 10px solid black;
} */