/* General body styling */


html, body {
    height: 100%; /* Ensures the minimum height of the entire document is at least the viewport height */
    margin: 0; /* Removes default margin */
    font-family: Arial, Helvetica, sans-serif;
}

body > .content {
    flex: 1; /* Allows the content to expand and push the footer down */
}

/* Header styling */
.headerMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #f3f3f3;
}

.h1Text {
    font-weight: bold; /* Makes the text bold */
    font-style: italic; /* Makes the text italic */
}

/* Navigation styling */
.navMain {
    margin: 0; /* Removes default margin */
}

.navMain a:hover {
    color: #959595; /* Changes the color of the text when hovered */
}

.navMain a:active {
    color: #060606; /* Changes the color of the text when clicked */
}

.navUlMain {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navUlMain li {
    margin-left: 20px; /* Adds space between each list item */
}

.navUlMain li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMain li a i {
    font-size: 20px; /* Adjust the size of the icon based on preference */
}

/* Ensures the image fits within the header if needed */
.headerMain img {
    width: 50px; /* Adjust based on your preference */
    height: auto;
}




/* Main Section Styling */

.sectMain {
    display: flex; /* Allows the section to be displayed as a flex container */
    flex-direction: column; /* Stacks the h2 and div (containing paragraphs) vertically */
    align-items: center; /* Centers the items horizontally */
    text-align: center; /* Ensures the text within the section is centered */
    margin: 20px auto; /* Centers the section itself */
    max-width: 800px; /* Adjust this value based on your design preference */
}

.sectH2Main {
    margin-bottom: 20px; /* Adds some space below the h2 element */
}

.sectDivMain > p {
    margin-bottom: 20px; /* Adds some space between paragraphs */
}

/* Center the image below the section */
img[src="assets/images/new-exotic-bird.jpg"] {
    display: block;
    margin: 20px auto; /* Adds space above the image and centers it horizontally */
}


/* Footer Styling */

.footerMain {
    background-color: #333;
    color: #fff;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex: auto;
}
